hv

select{
    width: 90px;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.defaultPlus {
    font-size: 15px;
    font-weight: 300;
    width: 90px;
    height: 40px;
    background-color: black;
    padding: 0;
    margin: 0;

}

.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {

    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}