.column
{
    display: flex;
   flex-direction: column;
    align-items: center;
}

span {
    text-align: center;
    color: red;
    font-size: 30px;

}

span:hover {
    color: green;
    cursor: pointer;
}