.wrapper
{
    display: flex;
    flex-direction: column;
}
.superInput
{
    font-size: 36px;
    font-weight: 700;

    width: 300px;
    margin-left: 20px;
    padding: 6px 0 4px 10px;

    color: navy;
    border: 2px solid black;
    border-radius: 8px;
    background-color: gainsboro;
}

.errorInput
{
    background-color: red;

    composes: superInput;
}

.error
{
    font-size: 36px;
    font-weight: 700;

    margin: 0 auto 20px auto;

    color: red;
}
