.navbar ul {
    position: absolute;
    top: 100%;
    display: none;
    background-color: black;
}

.navbar li:hover ul {
    display: block;
}

.navbar,
.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar {
    font-size: 17px;
    min-width: 470px;
    height: 30px;
    padding-left: 25px;
    background-color: black;
}

.navbar li {
    position: relative;
    float: left;
    height: 100%;
    list-style: none;
}

.navbar li a {
    display: block;
    width: 100px;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.navbar ul li {
    float: none;
}

.navbar li a:hover {
    background-color: red;
}


